

body{
    background-color: rgb(20, 20, 20);
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.nav-link{
    color: yellow;
}

.link:hover{
    color: #e5bf6b;
}
.link{
    color: white;
}

.title{
    color: #e5bf6b;
    font-family:  Helvetica;
    font-weight: bold;
}

.card-title{
    color: #b59756;
    font-family:  Helvetica;
    font-weight: bold;
}

.navbar-brand{
    color: #b59756;
    font-family:  Helvetica;
    font-weight: bold;
}

.nav-link{
    color: #b59756;
    font-family:  Helvetica;
    font-weight: bold;
}

.nav-link:hover{
    border-radius: 25px;
    background-color: #1b1b1b;
}

.navbar{
    box-shadow: 0px 2px 2px rgb(0, 0, 0);
}

#carousel{
    box-shadow: 0px 2px 2px rgb(33, 33, 33);
}

#mcoco:hover{
    box-shadow: 0px 0px 10px #997f48;
}
#mcdoFood:hover{
    box-shadow: 0px 0px 10px #997f48;
}
#kids:hover{
    box-shadow: 0px 0px 10px #997f48;
}




::-webkit-scrollbar {
  width: 0;
}


::-webkit-scrollbar-track {
  background: none
}
 

::-webkit-scrollbar-thumb {
  background: none; 
}


.btn{
    background-color: #e5bf6b;
    width: 1in;
}
